@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);
@import url(http://fonts.googleapis.com/css?family=PT+Serif);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);

/* Basics
 *************************************/

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, dialog{
  display: block;
}
*{
  margin: 0;
  padding: 0;
  border: 0 none;
}
ul{
  list-style: none;
}
html, body{
  height: 100%;
  font-size: 18px;
}
body{
  font-family: "PT Serif", sans-serif;
  line-height: 150%;
  vertical-align: baseline;
  color: #626263;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

a{
  cursor: pointer;
  color: #000;
  white-space: normal;
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
  color: #09a1a1;
  font-family: "PT Sans Narrow", sans-serif;
  text-transform: uppercase;
}

h1{
  font-size: 1.75rem;
  letter-spacing: .3rem;
}
h2{
  font-size: 1.55rem;
  letter-spacing: .2em;
}
h3{
  font-size: 1.35rem;
  letter-spacing: .15em;
}
h4{
  font-size: 1.25rem;
  letter-spacing: .1em;
}
h5{
  font-size: 1.15rem;
  letter-spacing: .1em;
} 
h6{
  font-size: 1.05rem;
  letter-spacing: .1em;
  text-transform: none;
}

.center{
  text-align: center;
}
#case .no-margin,
#case .no-margin img:first-child{
  margin: 0;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

img.mini-thumb {
  width: 270px;
  height: auto;
  margin: 10px auto;
  display: block;
  -webkit-border-top-left-radius: 4px;
     -moz-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
     -moz-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
}

img.thumbs {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 10px 10px 0;
  width: 160px;
}

/* Buttons and Forms
 *************************************/

.btn{
  font-family: "PT Sans Narrow";
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .3rem;
  color: #ffffff;
  cursor: pointer;
  background-color: rgba(6, 58, 91, 0.75);
  display: inline-block;
  padding: 1rem;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
  .btn:hover{
    background-color: rgba(6, 58, 91, 1);
    -webkit-transition: all .25s;
     -moz-transition: all .25s;
          transition: all .25s;
  }

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  font-family: "PT Serif", sans-serif;
  font-size: 1rem;
  background-color: white;
  outline: none;
  border: 1px solid #e2e2e2;
  color: #626262;
  display: block;
  margin: 0 0 1rem 0;
  padding: 1rem;
  width: 100%;
  -webkit-appearance: none;
    -moz-appearance: none;
  -webkit-transition: color 0.15s ease-in-out;
    -moz-transition: color 0.15s ease-in-out;
      -o-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

/* Header
 *************************************/

header[role="banner"]{
  background: #063a5b; /* Old browsers */
  background: -moz-linear-gradient(top,  #063a5b 0%, #11486c 53%, #11486c 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#063a5b), color-stop(53%,#11486c), color-stop(100%,#11486c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #063a5b 0%,#11486c 53%,#11486c 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #063a5b 0%,#11486c 53%,#11486c 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #063a5b 0%,#11486c 53%,#11486c 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #063a5b 0%,#11486c 53%,#11486c 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#063a5b', endColorstr='#11486c',GradientType=0 ); /* IE6-9 */
  overflow: hidden;
}
  header[role="banner"] nav{
    overflow: hidden;
    z-index: 1;
  }
    .logo{
      display: block;
      float: left;
      width: 267px;
      height: 50px;
      margin: 20px 0;
      text-indent: -9999px;
      background: url(../images/brand-logo.png) no-repeat center center;
    }
    .icon-list{
      display: none;
      float: right;
      width: 31px;
      height: 31px;
      margin-top: -60px;
      text-indent: -9999px;
      background: url(../images/list-view-icon.png) no-repeat center center;
    }
    header[role="banner"] ul{
      display: block;
      overflow: hidden;
      float: right;
      margin-left: 10px;
    }
      header[role="banner"] .icon-dropdown-arrow {
        display: inline-block;
        font-size: 0.55rem;
        padding-left: .25rem;
      }

      header[role="banner"] li{
        display: block;
        float: left;
        padding: 30px 20px;
      }

      header[role="banner"] li.last{
        padding-right: 0;
      }

        header[role="banner"] li:first-child{
          margin-left: 0;
        }
        header[role="banner"] li a{
          color: #f2f2f2;
          display: block;
          font-family: "PT Sans Narrow", sans-serif;
          font-weight: bold;
          font-size: 1rem;
          text-transform: uppercase;
          -webkit-transition: all .25s;
            -moz-transition: all .25s;
              transition: all .25s;
        }
          header[role="banner"] li a:hover, header[role="banner"] li.active > a, a.localization:hover {
            opacity: 1;
            color: #09acb0;
          }
      header[role="banner"] ul ul{
        display: none;
        min-width: 150px;
        z-index: 99;
        position: absolute;
        margin-top: 30px;
        margin-left: 0px;
        background: #11486c;
        border-bottom: 1px solid rgba(9,161,161,0.2);
      }
        header[role="banner"] ul ul li {
          margin: 0 !important;
          padding: 5px 10px;
          float: none;
          border-top: 1px solid rgba(9,161,161,0.2);
        }

        header[role="banner"] ul ul li a {
          text-transform: none;
          font-family: "PT Sans", sans-serif;
          font-weight: normal;
        }


/* Video Banner
 *************************************/

header[role="promo"]{
  background:  rgb(45,169,171);
}

  .video{
    margin: 0 auto;
    width: 480px;
    height: 270px;
    padding: 40px 0;
  }

  header[role="promo"] article{
    width: 480px;
    padding: 57px 0;
    margin: 0 auto;
  }

    header[role="promo"] article h1 {
      color: #063a5b;
    }

    header[role="promo"] article p{
      font-size: 1.05rem;
      color: #063a5b;
      margin-bottom: 1.75em;
      text-align: justify;
    }

/* Email Banner
 *************************************/

 #email-banner{
  text-align: left;
 }

 #email-banner h2 {
  margin: 0;
 }
  #email-banner input[type="email"] {
    width: 60%;
    margin-right: 2%;
    float: left;
    margin-bottom: 0;
  }

/* Description and Keypoints
 *************************************/

#description p{
  margin: 0 auto 20px auto;
  line-height: 150%;
  text-align: justify; 
}

#keypoints article{
  min-height: 200px;
}

#keypoints article{
  background: #fff;
  padding: 10px;
  text-align: center; 
  width: 95%;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      box-sizing: border-box;
}

#keypoints p{
  font-size: 0.85rem;
  line-height: 150%;
}

/* Social Widgets
 *************************************/
a.localization{
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 0.85rem;
  margin-top: 9px;
  color: #fff;
  padding-left: 20px;
}
div.social-widgets {
  height: 32px;
  width: 160px;
  float: right;
  padding-right: 10px;
  margin-top: 7px;
}
  div.social-widgets a{
    text-indent: -9999px;
    height:32px;
    width: 32px;
    display: block;
    margin: 0 10px;
    float: left;
  }

    div.social-widgets a:hover,
    div.social-widgets a.tb:hover,
    div.social-widgets a.fb:hover,
    div.social-widgets a.tw:hover {
      background-position: -32px 0;
    }

    div.social-widgets a.tb{
      background: url('../images/picons-tb.png') no-repeat left top;
    }

    div.social-widgets a.tw{
      background: url('../images/picons-tw.png') no-repeat left top;
    }

    div.social-widgets a.fb{
      background: url('../images/picons-fb.png') no-repeat left top;
    }

/* About
 *************************************/

h2.title {
  margin-bottom: 0;
}

.dropcap {
  background: #3a3a3a;
  color: #fff;
  font-size: 1.3em;
  height: 1.5em;
  line-height: 1.5em;
  margin: 0 5px 0 0;
  text-align: center;
  width: 1.5em;
  display: inline-block;
  float: left;
}

#objectives article{
  width: 243px;
  min-height: 232px;
  background: #FFF;  
  margin: 0 auto 20px;  
}

#objectives article p{
  padding: 10px;
  font-size: 0.85rem;
  line-height: 150%;
}

.square {
  list-style: square;
  list-style-position: outside;
  padding-left: 1rem;
}

/* Mentors
 *************************************/

 .link {
    color: #09a1a1;
 }

 article.person p{
  font-size: 0.95em;
 }

/* Portfolio
 *************************************/
#portfolio article{
  border: #ddd 1px solid;
  border-radius: 3px;
  margin-top: 55px;
}

#portfolio .header{
  position: relative;
  background-color: #f8f8f8;
  border-bottom: #ddd 1px solid;
  height: 55px;
}

#portfolio h6{
  font-size: 0.85rem;
  margin: 0 auto;
}
#portfolio img {
  background-color: #fff;
  margin: -45px auto -5px;
  width: 120px;
  height: 76px;
}

#portfolio .categories {
  font-size: 0.75rem;
  line-height: 150%;
  color: #626263;
  display: block;
  margin-bottom: 20px;
}

/* Press
 *************************************/

ul#tabs {
  margin: 6px 0;
}
ul#tabs li{
  float: left;
  list-style-type: none !important;
  text-align: center;
  padding: 0 !important;
  margin: 0 !important;
}
ul#tabs li a{
  padding: 6px 10px !important;
  margin: 0 !important;
  border: 1px solid #09a1a1;
  border-right: none;
  background: #fff;
}
ul#tabs li a.tab-active{
  background: #09a1a1;
  color: #fff;
}
ul#tabs li:first-child a{
  border-radius: 4px 0 0 4px;

}
ul#tabs li.last a{
  border-radius: 0 4px 4px 0;
  border-right: 1px solid #09a1a1;
}

div.entry{
  padding: 20px 0px;
  border-bottom: 1px solid #EFEFEF;
}

div.time {
  font-size: 0.75em;
  color: #a7a9aa;
}

div.release{
  margin-bottom: 20px;
}
div.release .body {
  margin: 20px 0; 
  color: #818486;
  display: none;
}

div.release blockquote {
  background: #f8f8f8 url(../images/quote.png) no-repeat 17px 21px;
  font: italic 15px/1.6 'PT Serif', Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  padding: 20px 20px 20px 55px;
  margin: 10px auto;
}

/* Support
*************************************/

.perks li {
  list-style: none !important;
}

.perk {
  padding: 10px;
  background: #d2d2d2;
  margin-bottom: 20px;
}

.funding {
  padding: 10px;
  background: #f4f4f4;
  margin-bottom: 20px;
}

.funding form{
  text-align: center;
  margin: 10px auto;
}

.shadow {
  -moz-box-shadow: 1px 1px 2px #888888;
  -webkit-box-shadow: 1px 1px 2px #888888;
  box-shadow: 1px 1px 2px #888888;
}

.rounded {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}

.perk .title {
  border-bottom: 1px solid #a8a8a8;
  color: #222222;
  padding-bottom: 5px;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 18px;
  word-wrap: break-word;
}

.perk .title .amount {
  font-size: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.perk .description, .funding .description {
  font-size: 14px;
  color: #595959;
  padding-top: 1em;
  margin-top: 0;
  border-top: 1px solid #f4f4f4;
  line-height: 18px;
  word-wrap: break-word;
  white-space: pre-line;
}

.project-content {
  width: 620px;
  float: left;
}

.project-content .description {
  padding: 20px;
  max-width: 580px;
  width: 580px;
}

.project-content p {
  font-size: 16px;
}

/* Layout
 *************************************/

.wrap{
  padding: 40px 0;
}

.wrap-mini{
  padding: 20px 0;
}

.wrap-gray{
  background: #f2f2f2;
  *padding-top: 1.25rem;
  *padding-bottom: 1.25rem;
  margin: 0;
  -webkit-transition: height 0.15s ease-in-out;
  -moz-transition: height 0.15s ease-in-out;
  -o-transition: height 0.15s ease-in-out;
  transition: height 0.15s ease-in-out;
}

.wrap-navy{
  background: #063a5b;
  margin: 0;
}

body h1, body h2, body h3, body h4, body h5, body h6{
  margin-bottom: 1em;
}

#container {
   min-height:100%;
   position:relative;
}

section[role="content"]{
  padding-bottom:86px;
}

footer {
   position:absolute;
   bottom:0;
   width: 100%;
   height:46px;
}

.right{
  float: right;
}

.left{
  float: left;
}
/* Media
 *************************************/

@media handheld, only screen and (max-width: 1023px) {
  p {
    font-size: 0.85rem;
  }

  h1{
    font-size: 1.35rem;
  }

  h2{
    font-size: 1.25rem;
  }

  h4{
    font-size: 1.05rem;
  }

  h6{
    font-size: 0.95rem;
    line-height: 150%
  }

  #email-banner h5{
    padding: 0;
  }

  .btn, input[type="email"] {
    font-size: 0.75rem;
    padding: 0.75rem;
  }

  .video{
    width: 336px;
    height: 189px;
  }

  header[role="promo"] article {
    padding: 28px 0;
    width: 336px;
  }

  header[role="promo"] article p {
    font-size: 1rem;
    margin-bottom: 1.45em;
  }

  #keypoints article{
    min-height: 250px;
  }

  #objectives article {
    width: 150px;
    min-height: 200px;
  }

  #objectives article p, #keypoints p {
    font-size: 0.75rem;
  }

}

@media handheld, only screen and (max-width: 767px) {
  h2{
    font-size: 1.25rem;
    letter-spacing: .145em;
  }

  .logo, header[role="banner"] ul {
    float: none;
  }

  header[role="banner"] ul {
    display: none;
  }

  .icon-list{
    display: block;
  }

  header[role="banner"] ul ul {
    margin-top: 11px;
  }

  header[role="banner"] ul li {
    float: none;
    padding: 10px;
  }

  .video{
    padding: 20px 0;
  }

  header[role="promo"] article {
    width: 100%;
    padding: 0 0 20px 0;
    margin: 0 auto;
    text-align: center;
  }

  header[role="promo"] article p {
    text-align: center;
  }

  #email-banner, #sponsors, #keypoints {
    text-align: center;
  }
  #email-banner p{
    margin-bottom: 20px;
  }

  #keypoints article {
    margin: 10px auto;
    min-height: 100px;
  }

  #objectives article {
    width: 270px;
  }

  #mentors div.fourcol:not(.last) {
    margin-bottom: 40px;
  }

  #team div.sixcol:not(.last) {
    margin-bottom: 40px;
  }

  ul#tabs{
    margin: 4px 0;
  }
  ul#tabs li a{
    padding: 2px 5px !important;
    font-size: 0.9rem;
  }

  #support #description{
    display: none;
  }
}

@media handheld, only screen and (max-width: 479px) {
  h1{
    font-size: 1.15rem;
    letter-spacing: 0.2rem;
  }

  h2 {
    font-size: 1.05rem;
  }

  h4 {
    font-size: 1rem;
  }

  p, #objectives article p{
    font-size: 0.75rem;
  }

  header[role="promo"] article p {
    font-size: 0.85rem;
  }

  .logo{
    display: block;
    width: 94px;
    height: 50px;
    background: url(../images/brand-icon.png) no-repeat center center;
  }

  .video{
    width: 240px;
    height: 135px;
  }

  #keypoints article {
    margin: 10px auto;
    min-height: 150px;
  }

  section[role="content"] h4{
    text-align: center;
  }

#email-banner input[type="email"]{
    width: 75%;
    float: none;
    margin: 10px auto;
  }
}