

#slider section.forms {
	height: 580px !important;

}

#slider section.forms iframe{
	border-bottom:  5px solid #09acb0;
	border-top:  5px solid #09acb0;
	margin-bottom: 30px;
	padding-bottom:5px;
}

section.forms p, section.forms ul li{
	font-family: 'PTSansCaptionRegular';
	text-align: left;
	font-size:16px;
	color: #626262;
	line-height: 1.5em;
	margin-left: 20px;
	margin-top: 5px;

}

section.forms ul li{

	margin-left: 35px;

}

.colorGreen{
	color: #09acb0 !important;
}

div.apply-link {

	/*background: #11486c;*/
	background:#09acb0;
	width: 50%;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	margin: 2px auto -10px auto;
	z-index: -1;

}

div.apply-link a{
	color: #f2f2f2;
	line-height: 2.5em;
	font-family: 'PTSansCaptionRegular';
	font-size:20px;
	width: 150px;
	height: 35px;
	margin:0 auto;
}

div.apply-link a:hover{
	text-decoration: underline;
}



