.newspaper-b {
  border:1px solid #09a1a1;
  border-collapse:collapse;
  /*font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;*/
  font-size:12px;
  /*margin:20px;*/
  text-align:left;
  width:100%;
}
.newspaper-b th {
  color:#09a1a1;
  font-size:14px;
  font-weight:normal;
  padding:15px 10px 10px;
  text-align: center;
}
.newspaper-b tbody {
  background-color:#70d2d2;
  background-position:initial initial;
  background-repeat:initial initial;
}
.newspaper-b td {
  border-top-color:#FFFFFF;
  border-top-style:dashed;
  border-top-width:1px;
  color:#626262;
  padding:10px;
  text-align: center;
}
.newspaper-b tbody tr:hover td {
  background-color:#09a1a1;
  background-position:initial initial;
  background-repeat:initial initial;
  color:#fff;
}
.newspaper-b tfoot p {
  text-align: left;
  line-height: 1em;
}

