section(role='content')
	section.wrap-mini.wrap-gray.container
		.row
			h2.twelvecol.title Sobre Coderise
	section#mission.wrap-mini.container
		.row
			.threecol
				h4 Misión
			.ninecol.last
				p(style='text-align: justify;')
					| Nuestra misión es empoderar a jóvenes de bajos recursos y gran potencial dándoles las herramientas e inspiración para que puedan ser inovadores de tecnología y futuros emprendedores digitales.
	section#objectives.wrap-mini.wrap-gray.container
		.row
			.threecol
				h4 Objetivos
			.threecol
				article
					img.mini-thumb(src='/images/kids_and_instructor.png')
					p Graduar 15 estudiantes del programa piloto de Coderise.
			.threecol
				article
					img.mini-thumb(src='/images/kids_and_computer.png')
					p Lanzar la primera Hackathon al final del programa.
			.threecol.last
				article
					img.mini-thumb(src='/images/kids_and_js.png')
					p Lograr que el 70% de los estudiantes alcance un nivel básico de Javascript
	section.wrap-mini.container
		.row
			.threecol
				h4 Impacto
			.ninecol.last
				p
					| Coderise provee conocimientos básicos con los cuales a largo plazo los jóvenes podrían participar en:
				ul.square
					li
						p Aceleradoras de startups tecnológicas
					li
						p Startups y empresas tecnológicas
					li
						p Corporaciones internacionales de tecnología
					li
						p Crear sus propias iniciativas
				br
				p A la vez, estas oportunidades resultán en jóvenes:
				ul.square
					li
						p Quienes terminan la secundaria y con más probabilidades de ir a la universidad
					li
						p Contribuyen a sus familias
					li
						p Conseguir becas y otro respaldo financiero para acceder a educación superior
				br
				p
					| Coderise es un programa libre de costo para los estudiantes. Transporte semanal y refrigerios estarán cubiertos.
