section#students(role='content')
	section.wrap-mini.wrap-gray.container
		.row
			h2.twelvecol.title Estudiantes 2012
	section#portfolio.wrap-mini.container
		.row
			.fourcol.center
				article
					.header
						a(target='_blank', title='Juan Pablo Hincapie A.', href='http://about.me/juanpablinca1')
							img.thumbs(alt='', src='/images/juanph.png')
					h6 Juan Pablo Hincapie A.
					a.project-meta(target='_blank', href='https://c9.io/juanpablinca1/bootstrap-starter-coderise/workspace/index.html')
						span.categories Project: Find my ecopark
				// end article (Juan Pablo Hincapie Alvarez)
			.fourcol.center
				article
					.header
						a(target='_blank', title='Miguel Angel Naranjo C.', href='https://twitter.com/manaranjoc')
							img.thumbs(alt='', src='/images/migueln.png')
					h6 Miguel Angel Naranjo C.
					a.project-meta(target='_blank', href='#')
						span.categories CalControl
				// end .article (Miguel Angel Naranjo Cano)
			.fourcol.last.center
				article
					.header
						a(target='_blank', title='Natalia Villegas A.', href='https://twitter.com/LiaVillegasA')
							img.thumbs(alt='', src='/images/nataliav.png')
					h6 Natalia Villegas A.
					a.project-meta(target='_blank', href='https://c9.io/liavillegas/lifemission/workspace/index.html')
						span.categories LifeMission
				// end article (Natalia Villegas)
		.row
			.fourcol.center
				article
					.header
						a(target='_blank', title='Josue Bustamante', href='http://about.me/JosueDanielBust')
							img.thumbs(alt='', src='/images/josueb.png')
					h6 Josue Bustamante
					a.project-meta(target='_blank', href='http://shac.herokuapp.com/')
						span.categories Sistema de Horarios y Actividades para Colegios
				// end article (Josue Bustamante)
			.fourcol.center
				article
					.header
						a(target='_blank', title='Carlos Alvarez', href='https://twitter.com/CEGALVAREZ')
							img.thumbs(alt='', src='/images/carlosa.png')
					h6 Carlos Alvarez
					a.project-meta(target='_blank', href='https://c9.io/carlos-alvarez/sow2/workspace/index.html')
						span.categories Exim (Exports and Imports)
				// end article (Carlos Alvarez)
			.fourcol.last.center
				article
					.header
						a(target='_blank', title='Jonathan David Avendano O.', href='http://about.me/jdavidavendano')
							img.thumbs(alt='', src='/images/jonathana.png')
					h6 Jonathan David Avendano O.
					a.project-meta(target='_blank', href='https://c9.io/jonathandao/emucel/workspace/index.html')
						span.categories Emucel
				// end article (Jonathan David Avendano Ortega)
		.row
			.fourcol.center
				article
					.header
						a(target='_blank', title='Luis Felipe Arcos', href='https://twitter.com/luisfarcos')
							img.thumbs(alt='', src='/images/luisfa.png')
					h6 Luis Felipe Arcos
					a.project-meta(target='_blank', href='#')
						span.categories KnowYourTunes
				// end article (Luis Felipe Arcos)
			.fourcol.center
				article
					.header
						a(target='_blank', title='Manuela Tamayo V.', href='https://www.facebook.com/manut95')
							img.thumbs(alt='', src='/images/manuelat.png')
					h6 Manuela Tamayo V.
					a.project-meta(target='_blank', href='https://c9.io/manuelatamayov/bootstrap-starter-coderise/workspace/index.html')
						span.categories Ideas Fierro
				// end article (Manuela Tamayo Villa)
			.fourcol.last.center
				article
					.header
						a(target='_blank', title='Sebastian Bedoya C.', href='https://twitter.com/Sebas_Twin')
							img.thumbs(alt='', src='/images/sebastianb.png')
					h6 Sebastian Bedoya C.
					a.project-meta(target='_blank', href='https://c9.io/imellosebas/dossg2/workspace/index.html')
						span.categories Dogs Adoptame
				// end article (Sebastian Bedoya Cortes)
		.row
			.fourcol.center
				article
					.header
						a(target='_blank', title='Mateo Olarte', href='https://twitter.com/mateo_olarte')
							img.thumbs(alt='', src='/images/mateoo.png')
					h6 Mateo Olarte
					a.project-meta(target='_blank', href='https://c9.io/mateolarte/ecoactuar/workspace/index.html')
						span.categories Ecoactuar
				// end article (Mateo Olarte)
			.fourcol.center
				article
					.header
						a(title='Nilo Daniel Mieles Tabares', href='#')
							img.thumbs(alt='', src='/images/nilom.png')
					h6 Nilo Daniel Mieles T.
					a.project-meta(target='_blank', href='#')
						span.categories Contra The Nes Collection
				// end article (Nilo Daniel Mieles Tabares)
			.fourcol.last.center
				article
					.header
						a(target='_blank', title='Rodrigo Alejandro Echavarria E.', href='https://www.facebook.com/alejo.echavarria.31')
							img.thumbs(alt='', src='/images/rodrigoe.png')
					h6 Rodrigo Alejandro Echavarria E.
					a.project-meta(target='_blank', href='https://c9.io/ghahia/feelseries/workspace/index.html')
						span.categories Feel Series
				// end .one-third (Rodrigo Alejandro Echavarria Echeverri)
		.row
			.fourcol.center
				article
					.header
						a(target='_blank', title='Mateo Florez B.', href='https://twitter.com/teoflorez97')
							img.thumbs(alt='', src='/images/mateof.png')
					h6 Mateo Florez B.
					a.project-meta(target='_blank', href='https://c9.io/matthew1913/animalia/workspace/index.html')
						span.categories Animalia
				// end article (Mateo Florez Bedoya)
			.fourcol.center
				article
					.header
						a(target='_blank', title='David Velasquez', href='http://about.me/davidvelasquezm.6')
							img.thumbs(alt='', src='/images/davidv.png')
					h6 David Velasquez
					a.project-meta(target='_blank', href='https://c9.io/davidvelasquezm/brainshare/workspace/index.html')
						span.categories BrainShare
				// end article (David Velasquez)
			.fourcol.last.center
				article
					.header
						a(title='Luisa Perez', href='#')
							img.thumbs(alt='', src='/images/luisap.png')
					h6 Luisa Perez
					a.project-meta(target='_blank', href='https://c9.io/luleperez/infieles/workspace/index.html')
						span.categories HiddenLife
				// end article (Luisa Perez)
		.row
			.fourcol.center
				article
					.header
						a(target='_blank', title='Ana María Sosa Martinez', href='http://twitter.com/anamariasosam')
							img.thumbs(alt='', src='/images/anams.png')
					h6 Ana María Sosa M.
					a.project-meta(target='_blank', href='https://c9.io/anasosa9/bootstrap-starter-coderise/workspace/index.html')
						span.categories IPA(Informacion de Procesos Academicos)
				// end .article (Ana María Sosa Martinez)
			.fourcol.center
				article
					.header
						a(target='_blank', title='Johan Sebastian Yepes', href='https://twitter.com/johan_yepesrios')
							img.thumbs(target='_blank', alt='', src='/images/johany.png')
					h6 Johan Sebastian Yepes
					a.project-meta(target='_blank', href='https://c9.io/super122009/travelators/workspace/index.html')
						span.categories Travelators
				// end article (Johan Sebastian Yepes)