header.container(role='promo')
	.row
		.sixcol
			.video
				iframe(width='100%', height='100%', frameborder='0', src='http://player.vimeo.com/video/47140918?title=0&byline=0&portrait=0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
		.sixcol.last
			article
				h1 Programa.Inspira.Crea.
				p
					| Coderise empodera a los estudiantes jóvenes en naciones en desarrollo, enseñándoles a crear aplicaciones web.
				a.btn.btn-outline(alt='support.coderise.org', href='https://support.coderise.org') Apoya ya ►
section(role='content')
	section#email-banner.wrap.wrap-gray.container
		.row
			.sixcol
				h2 Infórmate!
				p Recibe noticias sobre la Comunidad Coderise.
			form#signup_form.sixcol.last
				input#email.email-input(type='email', size='64', name='email', placeholder='Ingresa tu email')
				a#submit_email.submit-button.btn(href='javascript:void(0)') Unirse
	section#description.wrap.container
		.row
			.sixcol
				p
					| En los países en desarrollo muy a menudo las oportunidades existentes para avanzar en la escala económica y social son limitadas. Hoy el internet y la tecnología han democratizado esta oportunidad. Coderise no solamente genera acceso a la tecnología sino que también les enseña a los chicos cómo crear con ella.
				p
					| Ya sea para conseguir trabajo independiente con clientes globales, puestos internos con firmas locales desarrolladoras de software o incluso empezar sus propios startups tecnológicos, Coderise ofrece todas las habilidades, herramientas y conexiones necesarias para desarrollar todo su potencial.
				p
					| Coderise es un programa libre de costo para los estudiantes.  Transporte semanal y refrigerios estarán cubiertos.
			.sixcol.last.center
				h4 Conoce la Clase Coderise 2012
				.video(style='padding: 0;')
					iframe(width='100%', height='100%', frameborder='0', allowfullscreen='', src='http://www.youtube.com/embed/w2fbbMfTuiU?autohide=1&controls=0&showinfo=0')
	section#keypoints.wrap.wrap-gray.container
		.row
			h3 Coderise busca:
			ul
				li.threecol
					article
						h6 Enseñar para crear
						p
							| Coderise se enfoca en las habilidades de programación que tienen una alta demanda y que proporcionarán a los estudiantes las herramientas para salir y empezar a crear.
				li.threecol
					article
						h6 Inspirar con el ejemplo
						p
							| Coderise trae a los más reconocidos emprendedores tecnológicos y programadores para compartir inspiración y conocimientos técnicos de su trabajo.
				li.threecol
					article
						h6 Aprendizaje del mundo real
						p
							| Coderise brinda un programa de 8 semanas de entrenamiento intensivo que impulsa el aprendizaje de creación de productos a través de proyectos y el trabajo en equipo.
				li.threecol.last
					article
						h6 Conectar a las oportunidades
						p
							| Coderise conecta a los estudiantes con  oportunidades de prácticas para continuar aprendiendo, creando y colaborando.
	section#sponsors.wrap.container
		.row
			h3 Nuestros patrocinadores 2012
			.slogo
				.threecol
					a(href='http://socialatomgroup.com/')
						img(height='30', width"200"='', src='/images/socialatom.png')
				.threecol
					a(href='http://www.intergrupo.com/')
						img(height='55', style='padding-top: 10px;', width"214"='', src='/images/intergrupo.png')
		.row
			h3 Nuestros patrocinadores 2014
			.slogo
				.threecol
					a(href='http://socialatomgroup.com/')
						img(height='30', width"200"='', src='/images/socialatom.png')
				.threecol
					a(href='#')
						img(height='30', width"200"='', src='/images/vivelab.png')
				.threecol
					a(href='http://tooeasygroup.com/')
						img(height='30', width"200"='', src='/images/tooeasy.png')
