
@font-face {
    font-family: 'PTSansCaptionBold';
    src: url('pt_sans-caption-web-bold-webfont.eot');
    src: url('pt_sans-caption-web-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('pt_sans-caption-web-bold-webfont.woff') format('woff'),
         url('pt_sans-caption-web-bold-webfont.ttf') format('truetype'),
         url('pt_sans-caption-web-bold-webfont.svg#PTSansCaptionBold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'PTSansCaptionRegular';
    src: url('pt_sans-caption-web-regular-webfont.eot');
    src: url('pt_sans-caption-web-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('pt_sans-caption-web-regular-webfont.woff') format('woff'),
         url('pt_sans-caption-web-regular-webfont.ttf') format('truetype'),
         url('pt_sans-caption-web-regular-webfont.svg#PTSansCaptionRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}