section(role="content")
	section.wrap-mini.wrap-gray.container
		.row
			h2.twelvecol.title About
	section#mission.wrap-mini.container
		.row
			.threecol
				h4 Mission
			.ninecol.last
				p(style="text-align: justify;")
					| Our mission is to empower high-school students with demonstrated potential by giving them the tools and inspiration to dive into tech innovation and tap into their entrepreneurial spirit.
	section#objectives.wrap-mini.wrap-gray.container
		.row
			.threecol
				h4 Objectives
			.threecol
				article
					img.mini-thumb(src="images/kids_and_instructor.png")
					p Graduate 15 students from the Coderise pilot program
			.threecol
				article
					img.mini-thumb(src="images/kids_and_computer.png")
					p Launch the first Coderise Hackathon at the end of the program
			.threecol.last
				article
					img.mini-thumb(src="images/kids_and_js.png")
					p Achieve a basic level of Javascript for 70 percent of students
	section.wrap-mini.container
		.row
			.threecol
				h4 Impact
			.ninecol.last
				p Coderise provides foundations for the students to participate in:
				ul.square
					li
						p Local accelerators
					li
						p Local technology firms
					li
						p International tech companies
					li
						p Building their own products and bringing their ideas to life
				br
				p As a result, students will be able to:
				ul.square
					li
						p Stay in school
					li
						p Contribute to their families
					li
						p Land scholarships and create income to pay for school
				br
				p
					| Coderise is a program free of cost for the students. Weekly transportation and meals will be covered.