section(role="content")
	section.wrap-mini.wrap-gray.container
		.row
			.twelvecol
				h2.title Applying to Coderise
			div
	section.wrap-mini.container
		.row
			.twelvecol
				h5 Who can apply for Coderise 2013?
				p
					| Coderise seeks students that are self-motivated and curious to learn about technology and software development.
				p
					| Students in the last three years of high school and living in the metropolitan area of Medellin, Colombia, are elegible to apply for Coderise 2014.
				h6 Applications are now closed
				//a.link(href="aplica.html")
					p [Go to Spanish page to Apply]