section(role="content")
	section.wrap-mini.wrap-gray.container
		.row
			h2.twelvecol.title How it works
	section.wrap-mini.container
		.row
			.threecol
				h4 Structure
			.ninecol.last
				p(style="text-align: justify;")
					| Over the course of 9 weeks, Coderisers learn the principles of computer programming and software development with a heavy emphasis on creating web applications. They also have weekly opportunities to engage with tech entrepreneurs and engineers from Colombia and from the U.S.
				br
				p(style="text-align: justify;")
					| During the first half of the program, students focus on learning the basic tools needed build their very own web application. The second half of the program provides students an opportunity to develop a web application of their own, simulating real world context. At the end of the program, Coderisers participate in a Demo Day presentation, where they pitch their web application to the local tech community, family and friends.
	section.wrap-mini.wrap-gray.container
		.row
			.threecol
				h4 Learning Objectives
			.ninecol.last
				p At the end of the program, Coderisers are able to:
				br
				ul.square
					li
						p Identify and understand web technologies such as HTML, CSS, Javascript, Node.js, and databases
					li
						p Explain and teach other students what they have learned
					li
						p Know how to learn
					li
						p Understand that failure is part of the learning process
					li
						p Understand the benefits of Open Source software and how to contribute to it
					li
						p Identify problems in their communities and propose software-aided solutions
	section.wrap-mini.container
		.row
			.threecol
				h4 Coderise Activities and Events
			.ninecol.last
				ul.square
					li
						p Team building activities
					li
						p Meetups with the tech startup and software programming community in Medell&#237;n
					li
						p Demo Day Presentations - Coderise student web applications
	section.wrap-mini.wrap-gray.container
		.row
			.threecol
				h4 Mentors of Coderise
			.ninecol.last
				p
					| Each Sunday, there will be fireside chats with various Coderise mentors, successful professionals from the tech world.  These will share their experiences, their trajectory throughout various initiatives, and will be able to talk one-on-one with Coderise students.
					a.link(href="mentors.html") [Read a bit more on mentors here.]
	section.impact.wrap-mini.container
		.row
			.threecol
				h4 Coderise Program Calendar Dates
			.ninecol.last
				p The Coderise program spans 9 weeks, and usually takes place Tuesdays and Thusdays afterschool from 5:00 to 8:00 p.m., and Sunday mornings from 9:00 a.m. to 2:00 p.m.
