section#students(role="content")
	section.wrap-mini.wrap-gray.container
		.row
			h2.twelvecol.title Students 2012
	section#portfolio.wrap-mini.container
		.row
			.fourcol.center
				article
					.header
						a(href="http://about.me/juanpablinca1", title="Juan Pablo Hincapie A.", target="_blank")
							img.thumbs(src="/images/students/juanph.png", alt="")
					h6 Juan Pablo Hincapie A.
					a.project-meta(href="https://c9.io/juanpablinca1/bootstrap-starter-coderise/workspace/index.html", target="_blank")
						span.categories Project: Find my ecopark
				// end article (Juan Pablo Hincapie Alvarez)
			.fourcol.center
				article
					.header
						a(href="https://twitter.com/manaranjoc", title="Miguel Angel Naranjo C.", target="_blank")
							img.thumbs(src="/images/students/migueln.png", alt="")
					h6 Miguel Angel Naranjo C.
					a.project-meta(href="#", target="_blank")
						span.categories CalControl
				// end .article (Miguel Angel Naranjo Cano)
			.fourcol.last.center
				article
					.header
						a(href="https://twitter.com/LiaVillegasA", title="Natalia Villegas A.", target="_blank")
							img.thumbs(src="/images/students/nataliav.png", alt="")
					h6 Natalia Villegas A.
					a.project-meta(href="https://c9.io/liavillegas/lifemission/workspace/index.html", target="_blank")
						span.categories LifeMission
				// end article (Natalia Villegas)
		.row
			.fourcol.center
				article
					.header
						a(href="http://about.me/JosueDanielBust", title="Josue Bustamante", target="_blank")
							img.thumbs(src="/images/students/josueb.png", alt="")
					h6 Josue Bustamante
					a.project-meta(href="http://shac.herokuapp.com/", target="_blank")
						span.categories Sistema de Horarios y Actividades para Colegios
				// end article (Josue Bustamante)
			.fourcol.center
				article
					.header
						a(href="https://twitter.com/CEGALVAREZ", title="Carlos Alvarez", target="_blank")
							img.thumbs(src="/images/students/carlosa.png", alt="")
					h6 Carlos Alvarez
					a.project-meta(href="https://c9.io/carlos-alvarez/sow2/workspace/index.html", target="_blank")
						span.categories Exim (Exports and Imports)
				// end article (Carlos Alvarez)
			.fourcol.last.center
				article
					.header
						a(href="http://about.me/jdavidavendano", title="Jonathan David Avendano O.", target="_blank")
							img.thumbs(src="/images/students/jonathana.png", alt="")
					h6 Jonathan David Avendano O.
					a.project-meta(href="https://c9.io/jonathandao/emucel/workspace/index.html", target="_blank")
						span.categories Emucel
				// end article (Jonathan David Avendano Ortega)
		.row
			.fourcol.center
				article
					.header
						a(href="https://twitter.com/luisfarcos", title="Luis Felipe Arcos", target="_blank")
							img.thumbs(src="/images/students/luisfa.png", alt="")
					h6 Luis Felipe Arcos
					a.project-meta(href="#", target="_blank")
						span.categories KnowYourTunes
				// end article (Luis Felipe Arcos)
			.fourcol.center
				article
					.header
						a(href="https://www.facebook.com/manut95", title="Manuela Tamayo V.", target="_blank")
							img.thumbs(src="/images/students/manuelat.png", alt="")
					h6 Manuela Tamayo V.
					a.project-meta(href="https://c9.io/manuelatamayov/bootstrap-starter-coderise/workspace/index.html", target="_blank")
						span.categories Ideas Fierro
				// end article (Manuela Tamayo Villa)
			.fourcol.last.center
				article
					.header
						a(href="https://twitter.com/Sebas_Twin", title="Sebastian Bedoya C.", target="_blank")
							img.thumbs(src="/images/students/sebastianb.png", alt="")
					h6 Sebastian Bedoya C.
					a.project-meta(href="https://c9.io/imellosebas/dossg2/workspace/index.html", target="_blank")
						span.categories Dogs Adoptame
				// end article (Sebastian Bedoya Cortes)
		.row
			.fourcol.center
				article
					.header
						a(href="https://twitter.com/mateo_olarte", title="Mateo Olarte", target="_blank")
							img.thumbs(src="/images/students/mateoo.png", alt="")
					h6 Mateo Olarte
					a.project-meta(href="https://c9.io/mateolarte/ecoactuar/workspace/index.html", target="_blank")
						span.categories Ecoactuar
				// end article (Mateo Olarte)
			.fourcol.center
				article
					.header
						a(href="#", title="Nilo Daniel Mieles Tabares")
							img.thumbs(src="/images/students/nilom.png", alt="")
					h6 Nilo Daniel Mieles T.
					a.project-meta(href="#", target="_blank")
						span.categories Contra The Nes Collection
				// end article (Nilo Daniel Mieles Tabares)
			.fourcol.last.center
				article
					.header
						a(href="https://www.facebook.com/alejo.echavarria.31", title="Rodrigo Alejandro Echavarria E.", target="_blank")
							img.thumbs(src="/images/students/rodrigoe.png", alt="")
					h6 Rodrigo Alejandro Echavarria E.
					a.project-meta(href="https://c9.io/ghahia/feelseries/workspace/index.html", target="_blank")
						span.categories Feel Series
				// end .one-third (Rodrigo Alejandro Echavarria Echeverri)
		.row
			.fourcol.center
				article
					.header
						a(href="https://twitter.com/teoflorez97", title="Mateo Florez B.", target="_blank")
							img.thumbs(src="/images/students/mateof.png", alt="")
					h6 Mateo Florez B.
					a.project-meta(href="https://c9.io/matthew1913/animalia/workspace/index.html", target="_blank")
						span.categories Animalia
				// end article (Mateo Florez Bedoya)
			.fourcol.center
				article
					.header
						a(href="http://about.me/davidvelasquezm.6", title="David Velasquez", target="_blank")
							img.thumbs(src="/images/students/davidv.png", alt="")
					h6 David Velasquez
					a.project-meta(href="https://c9.io/davidvelasquezm/brainshare/workspace/index.html", target="_blank")
						span.categories BrainShare
				// end article (David Velasquez)
			.fourcol.last.center
				article
					.header
						a(href="#", title="Luisa Perez")
							img.thumbs(src="/images/students/luisap.png", alt="")
					h6 Luisa Perez
					a.project-meta(href="https://c9.io/luleperez/infieles/workspace/index.html", target="_blank")
						span.categories HiddenLife
				// end article (Luisa Perez)
		.row
			.fourcol.center
				article
					.header
						a(href="http://twitter.com/anamariasosam", title="Ana María Sosa Martinez", target="_blank")
							img.thumbs(src="/images/students/anams.png", alt="")
					h6 Ana Mar&#237;a Sosa M.
					a.project-meta(href="https://c9.io/anasosa9/bootstrap-starter-coderise/workspace/index.html", target="_blank")
						span.categories IPA(Informacion de Procesos Academicos)
				// end .article (Ana María Sosa Martinez)
			.fourcol.center
				article
					.header
						a(href="https://twitter.com/johan_yepesrios", title="Johan Sebastian Yepes", target="_blank")
							img.thumbs(src="/images/students/johany.png", alt="")
					h6 Johan Sebastian Yepes
					a.project-meta(href="https://c9.io/super122009/travelators/workspace/index.html", target="_blank")
						span.categories Travelators
				// end article (Johan Sebastian Yepes)
