section#team(role='content')
	section.wrap-mini.container
		//- h3.center Popayán
		.row
			.fourcol.center
				article
					img.thumbs(src='/images/team/andrea-cornejo.jpg')
					h6.colorGreen Andrea Cornejo / Program Director
					p
						| Founder @emprendescl and @code_rise. Impact Evaluation of Development Programs with @poverty_action. Economic Development.
					p.social-widgets
						a.g-tw(href="http://twitter.com/andreamcornejo", target="_blank")
						a.g-li(href="http://linkedin.com/in/andreamcornejo/es", target="_blank")
			.fourcol.center
				article
					img.thumbs(src='/images/team/jessica-mercedes.jpeg')
					h6.colorGreen Jessica Mercedes / LATAM Director
					p
						| Managing Director @pulsosocial / Helping entrepreneurs in LATAM / @code_rise / Mother of Dragons / Awesome.
					p.social-widgets
						a.g-tw(href="http://twitter.com/Jssmercedes", target="_blank")
						a.g-li(href="http://co.linkedin.com/in/jessicamercedes/es", target="_blank")
			.fourcol.last.center
				article
					img.thumbs(src="/images/team/josue-bustamante.jpeg")
					h6 Josue Bustamante / Medellin Director
					p
						| Web Developer & Young Entrepreneur by Passion - Coffee lover - //CodeRiser Medellín Director at @code_rise - Maker networks
					p.social-widgets
						a.g-tw(href="http://twitter.com/josuedanielbust", target="_blank")
						a.g-li(href="http://co.linkedin.com/in/josuedanielbust/es", target="_blank")
	section.wrap-mini.container
		div.row
			.fourcol.center
				article
					img.thumbs(src='/images/team/adrian-estrada.jpg')
					h6 Adrian Estrada / Instructor
					p
						| Seasoned developer with over of 12 years of experience with multiple programming languages, Co-Organizer of MedellínJS.
					p.social-widgets
						a.g-tw(href="http://twitter.com/edsadr", target="_blank")
						a.g-li(href="http://co.linkedin.com/pub/adrian-estrada/24/14a/a4b/es", target="_blank")
			.fourcol.center
				article
					img.thumbs(src='/images/team/catherine-lopez.jpg')
					h6.colorGreen Catherine Lopez / Development Director
					p
						| Social entrepreneur working on @code_rise, organizer of @jsconfco @empirenode @empirejs.
					p.social-widgets
						a.g-tw(href="http://twitter.com/LopezCatherine", target="_blank")
						a.g-li(href="http://www.linkedin.com/in/lopezcatherine/es", target="_blank")
			.fourcol.last.center
				article
					img.thumbs(src='/images/team/camilo.png')
					h6 Camilo Aguilar - Curriculum Advisor
					p
						| Software engineer, entrepreneur, organizer of @jsconfco, advisor at @code_rise. Founder at Hooklift, Inc.
					p.social-widgets
						a.g-tw(href="http://twitter.com/c4milo", target="_blank")
						a.g-li(href="http://www.linkedin.com/in/c4milo/es", target="_blank")
	section.wrap-mini.container
		.row
			.fourcol.center
				article
					img.thumbs(src="/images/team/elizabeth_ramirez.png")
					h6 Elizabeth Ramirez / Developer
					p
						| Software Engineer for Search, Archive and Semantics at The New York Times. Passionate about Particle Physics and Scientific Computing in Python.
					p.social-widgets
						a.g-tw(href="http://twitter.com/eramirem", target="_blank")
						a.g-li(href="https://www.linkedin.com/in/eramirem", target="_blank")
		//- .fourcol.center
				article
					img.thumbs(src='/images/team/julian-david-duque.jpg')
					h6 Julián Duque / Lead Instructor
					p
						| Developer by Passion, Engineer at Nodejitsu, Co-Organizer of MedellínJS and JSConf Colombia.
					p
						a.link(href='mailto:julianduquej@gmail.com') julianduquej@gmail.com
	section.wrap-mini.container
		h3.center Popayán
		.row
			.fourcol.center
				article
					img.thumbs(src="/images/team/jhoana_guzman.jpg")
					h6 Jhoanna Guzmán / Popayán Director
					p
						| Administradora de empresas de la Universidad Autónoma del Cauca, la mayor parte de mi experiencia ha sido en la formulación y ejecución de proyectos de CTI en el departamento del Cauca.
					p.social-widgets
						a.g-tw(href="http://twitter.com/guzmanjhoa", target="_blank")
						a.g-li(href="http://co.linkedin.com/pub/jhoana-guzman/34/899/565/es", target="_blank")
			.fourcol.center
				article
					img.thumbs(src="/images/team/oriana-robles.png")
					h6 Oriana Robles Muñoz / Popayán Instructor
					p
						| Ingeniera en Automática Industrial de la Universidad del Cauca, con experiencia en el área educación y diseño curricular en formación en tecnología y emprendimiento para niños y jóvenes. Co-fundadora de Racore Ingenieria Divertida.
					p.social-widgets
						a.g-tw(href="http://twitter.com/Orianarob", target="_blank")
						a.g-li(href="http://co.linkedin.com/in/orianarob/es", target="_blank")
			.fourcol.last.center
				article
					img.thumbs(src="/images/team/jose-garcia.png")
					h6 José Luis García / Popayán Instructor
					p
						| Ingeniero de sistemas de la Universidad Autónoma del Cauca. con experiencia en el desarrollo de software. Co-fundador de Racore Ingenieria Divertida.
					p.social-widgets
						a.g-tw(href="http://twitter.com/jlgcorra", target="_blank")
						a.g-li(href="http://co.linkedin.com/pub/jose-luis-garcia-corrales/30/749/857/es", target="_blank")