doctype html
html
	head
		title Coderise
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		script(src="http://code.jquery.com/jquery-latest.js", type="text/javascript")
		script(src="/js/default.js", type="text/javascript")
		script(src="/js/tabs.js", type="text/javascript")
		script(src="/js/googleAnalytics.js", type="text/javascript")
		link(href="/css/default2.css", type="text/css", rel="stylesheet", media="all")
		link(href="/css/1140.css", type="text/css", rel="stylesheet", media="all")
		link(rel="icon", type="image/png", href="favicon.png")
	body
		#container
			header.container(role="banner")
				.row
					.twelvecol
						a.logo(href="/index.html")
							| //coderise
						a.icon-list menu
						nav(role="navigation")
							ul
								li.dropdown
									a(href="javascript:void(0)")
										| About
										span.icon-dropdown-arrow &#9660;
									ul
										li
											a(href="/about.html") About us
										li
											a(href="/how.html") How it works
										li
											a(href="/mentors.html") Mentors
										li
											a(href="/team.html") Our Team
										li
											a(href="/students.html") Our Students
								li.dropdown
									a(href="javascript:void(0)")
										| Press
										span.icon-dropdown-arrow &#9660;
									ul
										li
											a(href="/press.html") Coverage
										li
											a(href="/releases.html") Press Releases
								//li
									a(href="https://support.coderise.org") Support
								li
									a(href="/apply.html") Apply
								li.last
									a(href="/posts/") Blog

			!= yield

			footer.wrap-mini.wrap-navy
				.row
					a.left.localization(href="index-es.html") Coderise en ESPAÑOL
					.social-widgets
						a.tb(href="http://coderise.tumblr.com/")
						a.tw(href="http://twitter.com/Code_rise")
						a.fb(href="http://www.facebook.com/Coderise")
		script(type="text/javascript", src="js/kickofflabs.js")