section(role='content')
	section.wrap-mini.wrap-gray.container
		.row
			h2.twelvecol.title Como funciona
	section.wrap-mini.container
		.row
			.threecol
				h4 Duración y estructura
			.ninecol.last
				p(style='text-align: justify;')
					| Durante 9 semanas los estudiantes de Coderise aprenderán a conceptos sobre computación y desarrollo de software, enfocado a aplicaciones web, bajo las instrucciones de dos instructores. Para complementar las clases, los participantes tendrán la oportunidad de conocer y hablar con emprendedores e ingenieros de Colombia y de los Estados Unidos.
				br
				p(style='text-align: justify;')
					| Las clases están dividas en dos partes.  La primera mitad de cada clase se enfoca en aprendizaje de conceptos y la segunda mitad en la  aplicación de los mismo en un proyecto para diseñar una aplicación web. Al finalizar el programa, los participantes presentarán sus proyectos durante la última semana del programa.
	section.wrap-mini.wrap-gray.container
		.row
			.threecol
				h4 Temas de aprendizaje
			.ninecol.last
				p Al finalizar el programa los coderisers estarán en capacidad de:
				br
				ul.square
					li
						p
							| Reconocer y entender tecnologías para el desarrollo de aplicaciones web tales como HTML, CSS, Javascript, Node.js y bases de datos.
					li
						p Explicar y enseñar conceptos aprendidos a otros estudiantes
					li
						p Aprender a aprender
					li
						p Entender  que el fracaso hace parte del proceso de aprendizaje
					li
						p
							| Entender la comunidad de software libre, sus beneficios y cómo contribuidor a ella
					li
						p
							| Identificar problemas en su comunidad  y proponer soluciones por medio del desarrollo de software
					li
						p Crear un Producto Mínimo Viable
	section.wrap-mini.container
		.row
			.threecol
				h4 Actividades y eventos de Coderise
			.ninecol.last
				ul.square
					li
						p Visita recreativa al Parque Arví con el grupo
					li
						p Meetups de comunidad de programadores en Medellín
					li
						p Mini Coderise Hackathon (aún por confirmar)
	section.wrap-mini.wrap-gray.container
		.row
			.threecol
				h4 Mentores de Coderise
			.ninecol.last
				p
					| Cada Domingo, después de avanzar aprendizaje de materias de 8:00 AM a 11:00 AM, habrán charlas con distintos mentores de Coderise, exitosos profesionales en el mundo tecnológico.  Estos contarán sus experiencias, hablarán de su trayecto como profesionales y estarán abiertos a preguntas de los coderisers.
					a.link(href='/es/mentores') [Conoce más de los mentores de Coderise aquí]
	section.impact.wrap-mini.container
		.row
			.threecol
				h4 Itinerario de Programa Coderise
			.ninecol.last
				p
					| El programa de Coderise dura 9 semanas, y usualmente se desarrolla Martes y Jueves después del colegio de 5:00 a 8:00 p.m., y Domingos de 9:00 a.m. a 2:00 p.m. El calendario de fechas de clases se encuentra en la pagina de aplicación.
				a.link(href='/es/aplica') [Conoce el itinerario de Coderise aquí]
