header.container(role="promo")
	.row
		.sixcol
			.video
				iframe(width="100%", height="100%", frameborder="0", allowfullscreen="", mozallowfullscreen="", webkitallowfullscreen="", src="http://player.vimeo.com/video/47140918?title=0&byline=0&portrait=0")
		.sixcol.last
			article
				h1 Code.Inspire.Create
				p
					| Coderise empowers young students in developing nations by teaching them how to build great web applications.
				a.btn.btn-outline(href="https://support.coderise.org", alt="support.coderise.org") Support now &#9658;
section(role="content")
	section#email-banner.wrap.wrap-gray.container
		.row
			.sixcol
				h2 Keep up with us!
				p Get updates about the Coderise Community
			form#signup_form.sixcol.last
				input#email.email-input(type="email", placeholder="Enter Your Email", name="email", size="64")
				a#submit_email.submit-button.btn(href="javascript:void(0)") Join
	section#description.wrap.container
		.row
			.sixcol
				p
					| In developing nations, very often opportunities for going up the economic and social ladder are limited. Today, the internet and technology have democratized this opportunity. Coderise not only creates access to technology but also teaches kids how to create with it.
				p
					| Whether it"s getting freelance jobs with global clients, internships with local software development firms or even starting their own tech startups, Coderise will offer all the skills, tools and connections necessary to realize their full potential.
				p
					| Coderise is a program free of cost for the students. Weekly transportation and meals will be covered.
			.sixcol.last.center
				h4 Meet Coderise Class of 2012
				.video(style="padding: 0;")
					iframe(width="100%", height="100%", src="http://www.youtube.com/embed/w2fbbMfTuiU?controls=0&showinfo=0", frameborder="0", allowfullscreen="")
	section#keypoints.wrap.wrap-gray.container
		.row
			h2 Coderise seeks to:
			ul
				li.threecol
					article
						h6 Teach to create
						p
							| Coderise focuses on the programming skills that are in high demand and that will provide students with the tools to go out there and start creating.
				li.threecol
					article
						h6 Inspire by Example
						p
							| Coderise brings the most recognized tech entrepreneurs and programmers to share inspiring and technical know-how on their work.
				li.threecol
					article
						h6 Real World Learning
						p
							| Coderise provides an 8-week intensive training program based on team and project-driven learning to build products.
				li.threecol.last
					article
						h6 Connect to opportunities
						p
							| Coderise will connect students with internship opportunities to continue learning, creating and collaborating.
	section#sponsors.wrap.container
		.row
			h3 Our Supporters Medellín 2012
			.slogo
				.threecol
					a(href="http://socialatomgroup.com/")
						img(src="images/socialatom.png", height="30")
				.threecol
					a(href="http://www.intergrupo.com/")
						img(src="images/intergrupo.png", height="55", style="padding-top: 10px;")
		.row
			h3 Our Supporters Medellín 2014
			.slogo
				.threecol
					a(href="http://socialatomgroup.com/")
						img(src="images/socialatom.png", height="30")
				.threecol
					a(href="#")
						img(src="images/vivelab.png", height="30")
				.threecol
					a(href="http://tooeasygroup.com/")
						img(src="images/tooeasy.png", height="30")