section(role='content')
	section.wrap-mini.wrap-gray.container
		.row
			.twelvecol
				h2.title Proceso de Aplicación
			div
	section.wrap-mini.container
		.row
			.twelvecol
				h5 ¿Quién puede aplicar a Coderise 2015?
				p Coderise busca jóvenes apasionados por aprender y curiosos sobre tecnología y desarrollo de software.
				p Coderise es para jóvenes en los últimos tres años de secundaria y que vivan en el área metropolitana de la ciudad de Medellín.
				p Jóvenes interesados en aplicar deben de revisar el calendario de fechas de clase y asegurar que puedan cumplir con todas las clases.
				br
				h6 En poco abriremos una nueva convocatoria, así que debes estar pendiente para registrarte, ¡Te esperamos!
