section(role='content')
	section.wrap-mini.wrap-gray.container
		.row
			.twelvecol
				h2.title Proceso de Aplicación
	section.wrap-mini.container
		.row
			.twelvecol
				h5 ¿Quién puede aplicar a Coderise 2015?
				p Coderise busca jóvenes apasionados por aprender y curiosos sobre tecnología y desarrollo de software.
				p Para poder aplicar debes tener en cuenta los siguientes requisitos
				ul.list-req-apply
					li Tener el consentimiento y permiso de tus padres.
					li Vivir en el área metropolitana de la ciudad de Medellín.
					li Estar en uno de los últimos tres años de secundaria (9, 10 u 11, en el caso de estar en 12 grado igual puedes aplicar)
					li Estar disponibles para todas las clases.
						ul
							li Martes y Jueves - 5:00pm a 8:00pm
							li Sábado - 9:00am a 12:00m
				img(src="images/cronograma_2015.jpg", alt="cronograma_2015" style="padding: 2em 0;")
				h3.center El proceso de aplicación para esta convocatoria ya ha terminado
					br
					| Pronto lanzaremos otra