section#mentors(role='content')
	section.wrap-mini.wrap-gray.container
		div.row
			h2.twelvecol.title Mentores de Coderise
	section.wrap-mini.container
		div.row
			div.twelvecol
				p
					| Cada Sábado, después de avanzar aprendizaje de materias de 8:00 AM a 11:00 AM, habrán charlas con distintos mentores de Coderise, exitosos profesionales en el mundo tecnológico.
	section.wrap-mini.container
		div.row
			div.fourcol.center
				article
					img.thumbs(src='/images/mentors/Andres2.png')
					h6 Andrés Barreto
					p
						| Emprendedor Colombiano, y actual co-fundador de 
						a.link(href='http://onswipe.com') Onswipe
						| , una plataforma de publicaciones y publicidad en tabletas, cuya sede principal se encuentra en la ciudad de New York. Andrés previamente fundó 
						a.link(href='http://grooveshark.com') Grooveshark
						| , 
						a.link(href='http://socialatomgroup.com') Socialatom Group
						| , 
						a.link(href='http://pulsosocial.com') PulsoSocial
						| .
					p
						a.link(href='http://twitter.com/andresbarreto') @andresbarreto
			div.fourcol.center
				article
					img.thumbs(src='/images/mentors/Alex.png')
					h6 Alex Torrenegra
					p
						| Fundador de 
						a.link(href='http://torrenegralabs.com') Torrenegra Labs
						| , incubadora de empresas tecnológicas basada en Bogotá, Colombia, y fundador de 
						a.link(href='http://voicebunny.com') VoiceBunny
						| , 
						a.link(href='http://bookingmarkets.com') BookingMarkets
						| , 
						a.link(href='http://wehostels.com/') WeHostels
						| , 
						a.link(href='http://hubbog.com/es') HubBOG
						| , entre otros.
					p
						a.link(href='http://twitter.com/torrenegra') @torrenegra
			div.fourcol.last.center
				article
					img.thumbs(src='/images/mentors/Daniel.png')
					h6 Daniel Loreto
					p
						| Emprendedor tecnológico, después de haber trabajado en Google pasó a fundar la empresa de software Julpan, la cual más tarde fue comprada por Twitter. Daniel actualmente trabaja en el equipo de ingenieros de 
						a.link(href='http://twitter.com') Twitter
						| .
					p
						a.link(href='http://twitter.com/DanielLoreto') @DanielLoreto
	section.wrap-mini.container
		div.row
			div.fourcol.center
				article
					img.thumbs(src='/images/mentors/Gisella.png')
					h6 Gisella Borja
					p
						| CTO de 
						a.link(href='http://bookingmarkets.com/') Booking Markets
						| , plataforma enfocada en crear mercados de hosteleria.
					p
<<<<<<< HEAD
						a.link(href='http://twitter.com/gigiborja') @gigiborja
=======
						a.link(href='http://twitter.com/gigiborja') @gigiborja
>>>>>>> 0e3e36e94078d19c35e752fbbb35158ebdcb75cf
