section#mentors(role="content")
	section.wrap-mini.wrap-gray.container
		.row
			h2.twelvecol.title Coderise Mentors
	section.wrap-mini.container
		.row
			.twelvecol
				p
					| Each Saturday, after regular class from 8:00 AM to 11:00 AM, there will be informal talks with various Coderise mentors, successful professionals from the tech world.
	section.wrap-mini.container
		.row
			.fourcol.center
				article
					img.thumbs(src="images/Andres2.png")
					h6 Andr&#233;s Barreto
					p
						| Colombian entrepreneur,  co-founder of 
						a.link(href="http://onswipe.com") Onswipe
						| , a platform for tablet publishing and advertising. He previously cofounded 
						a.link(href="http://grooveshark.com") Grooveshark
						| , a leading music streaming app, 
						a.link(href="http://socialatomgroup.com") Socialatom Group
						| , a Tech and PR agency that also promotes entrepreneurship in the region with startup and tech blog 
						a.link(href="http://pulsosocial.com") PulsoSocial
						| .
					p
						a.link(href="http://twitter.com/andresbarreto") @andresbarreto
			.fourcol.center
				article
					img.thumbs(src="images/Alex.png")
					h6 Alex Torrenegra
					p
						| Founder of 
						a.link(href="http://torrenegralabs.com") Torrenegra Labs
						| , tech startup incubator in Bogot&#225;, Colombia, and founder of
						a.link(href="http://voicebunny.com")  VoiceBunny
						| , 
						a.link(href="http://bookingmarkets.com") BookingMarkets
						| , 
						a.link(href="http://wehostels.com/") WeHostels
						| , 
						a.link(href="http://hubbog.com/es") HubBOG
						| , and others.
					p
						a.link(href="http://twitter.com/torrenegra") @torrenegra
			.fourcol.last.center
				article
					img.thumbs(src="images/Daniel.png")
					h6 Daniel Loreto
					p
						| Tech entrepreneur and software programmer.  After working for Google, founded social data analytic startup Julpan, and currently  is on the engineering team for
						a.link(href="http://twitter.com")  Twitter
						| .
					p
						a.link(href="http://twitter.com/DanielLoreto") @DanielLoreto
	section.wrap-mini.container
		.row
			.fourcol.center
				article
					img.thumbs(src="images/Gisella.png")
					h6 Gisella Borja
					p
						| CTO of 
						a.link(href="http://bookingmarkets.com/") Booking Markets
						| , online platform focused on travel and stay.
					p
						a.link(href="http://twitter.com/gigiborja") @gigiborja
			.fourcol.center
				article
					img.thumbs(src="images/juanpablo.jpg")
					h6 Juan Pablo Buritica
					p
						| Colombian entrepreneur and software engineer, he is currently the VP of Engineering at Onswipe. He is also founder and director of Bogotaconf, a conference dedicated to the highest quality software engineering topics. Formerly, he cofounded and was the Lead Engineer at Panelfly, a mobile comics distribution app.
					p
						a.link(href="http://twitter.com/buritica") @buritica
